
.site-header {
	background-color: #202020;
	border-bottom: 40px solid #F4F3EF;

	.wrapper {
		position: relative;
		padding: 10px 0px 15px 0px;
		max-width: 960px;
		margin: 0 auto;
	}

	.logo{
		text-align: center;
		a {
			font-size: 1050%;
		    font-weight: 700;
		    line-height: 1em;
		    border: 0px solid #FFF;
		    color: $white-color;
			padding: 0px;
			margin: 0px;
		    border: 0px solid #FFF;
		    text-shadow: 0px 0px 0px #e6e6e6;
		}
		a:hover {
			color: #ffffff;
			text-decoration: none;
		}
	}

	.site-description {
		color: $white-color;
		text-align: center;
		font-size: 150%;
		line-height: 1em;
		margin-top: 20px;
		margin-bottom: 0px;
		border: 0px solid #FFF;
	}
}
