.site-nav {
    padding-top: 15px;
    .menu-icon {
        display: none;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }

	ul {
		text-align: center;
		li {
			display: inline-block;
		    position: relative;
		    list-style: none;

			a {
				height: 40px;
				line-height: 40px;
				display: inline-block;
				text-align: center;
				font-size: 16px;
				color: #fcfcfc;
				padding: 0 20px;
			    text-decoration: none;
			    text-transform: uppercase;
				box-sizing: border-box;
			}
			a:hover {
				background-color: $highlight-color;
				color: $white-color;
			}
		}
	}
}
